<!-- Soal no 1 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">{{ fullName }}</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          firstName: "Tuanku",
          lastName: "Imam Bonjol",
        },
        computed: {
          // jawaban no 1
          fullName: {
            get: function () {
              return `${this.firstName} ${this.lastName}`;
            },
            set: function (newName) {
              let penampung = newName.split(" ");
              this.firstName = penampung[0];
              this.lastName = penampung[1];
            },
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>
