<!-- soal no 2 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Click Me</button>
      <h1>{{'Nilai a: ' + nilaiA}}</h1>
      <h1>{{'Rata : ' + rata}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      // jawaban no 2
      var vm = new Vue({
        el: "#app",
        data: {
          nilaiA: 0,
          rata: 0,
          index: 0,
        },
        methods: {
          openForm: function () {
            while (true) {
              const masukan = prompt("Masukan nilai");
              this.index++;
              this.nilaiA += parseInt(masukan);
              if (this.nilaiA >= 10) {
                this.rata = this.nilaiA / this.index;
                break;
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
